mkdocs
mkdocs-git-revision-date-plugin 
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-jupyter
mkdocs-markmap
mkdocs-material
mkdocs-minify-plugin
mkdocs-pdf-export-plugin
mkdocs-plotly-plugin
mkdocs-static-i18n[material]
mkdocstrings-python-legacy
plotly
pymdown-extensions
mkdocs-material-extensions
mkdocs-with-pdf
weasyprint
python-dotenv
